<div class="flex">
  <div class="flex flex-col items-center justify-center w-full h-screen bg-gray-100">
    <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-md">
      <h2 class="mb-6 text-2xl font-bold text-center">Login</h2>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mb-4">
          <label for="username" class="block mb-2 text-sm font-medium text-gray-700">Email</label>
          <input
            type="email"
            id="username"
            name="username"
            [(ngModel)]="username"
            #usernameField="ngModel"
            required
            email
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"
            placeholder="Ingresa tu correo electrónico"
          />
          <!-- Mensaje de error -->
          <div *ngIf="usernameField.invalid && usernameField.touched" class="text-sm text-red-500">
            <span *ngIf="usernameField.errors?.['required']">El correo es obligatorio.</span>
            <span *ngIf="usernameField.errors?.['email']">El formato del correo no es válido.</span>
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            #passwordField="ngModel"
            required
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"
            placeholder="Ingresa tu contraseña"
          />
          <!-- Mensaje de error para contraseña (opcional) -->
          <div *ngIf="passwordField.invalid && passwordField.touched" class="text-sm text-red-500">
            <span *ngIf="passwordField.errors?.['required']">La contraseña es obligatoria.</span>
          </div>
        </div>
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300"
        >
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>